@import "tailwindcss";

@layer utilities {
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
